.help-text-container {
    display: flex; /* Adjust flex-direction to column */
    flex-direction: column; /* Adjust flex-direction to column */
    align-items: flex-start; /* Align items to the left */
    padding: 20px; /* Add padding */
    flex: 1; /* Take up remaining space */
}

.update-button {
    padding: 10px; /* Add padding to buttons */
    background-color: #f7bc75; /* Set background color of buttons */
    color: #fff; /* Set text color of buttons */
    border: none; /* Remove border from buttons */
    border-radius: 10px; /* Add border radius to buttons */
    cursor: pointer; /* Set cursor to pointer on hover */
    display: flex; /* Add flex */
    flex: 1; /* Add flex by 1 */
}

.help-text-container h3 {
    flex: 1; /* Add flex by 1 */
    font-weight: lighter; /* Make font-weight lighter */
}